body {
     font-size: 18px;
     color: #333;
     font: italic small-caps bold 16px/24px Roboto, sans-serif;
     background-color: #eee;
}

h1 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 50px;
    text-align: center;
}

h2 {
    margin-top: 0px;
    padding-bottom: 30px;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}

section {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 50px 0px;
    line-height: 1.5;
    font-weight: normal;
}

section > h2 {
    padding: 0px;
    text-align: left;
    border: none;
}

section > p {
    text-align: left;
    margin-left: 20px;
}

li{
    margin-bottom: 10px;
}

